<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/img/mango.png" type="image/x-icon">
  <link rel="stylesheet" href="/css/style-login.css">
  <link rel="stylesheet" href="/css/reset.css">
  <title>Mangoroll</title>
</head>

<body>
  <header>
    <h1 class="header-title">
      <img src="/img/mango.png" width="50px" style="transform: rotate(250deg);" alt="Logo Mangoroll">
      Mangoroll
    </h1>
  </header>
  <section class="container">

    <div class="container-div">
      <h2>Anime Registration</h2>
      <form class="form">
        <input class="input" type="text" placeholder="Title">
        <button class="btn btn-sign-in" type="submit">Sign In</button>
      </form>
    </div>
  </section>

  <!-- JS -->
  <script src="/js/anime-register.js"></script>

</body>

</html>